* {
	margin: 0; 
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	/*margin: 0;*/
	font-family: 'Fira Code';
	background: #1A2933;
	color: #FFF;
	overflow: hidden;
	user-select: none;
}

@font-face {
    font-family: 'MPLUS1Code';
    src: url('./assets/fonts/MPLUS1Code-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'MIGUM1R';
    src: url('./assets/fonts/migu-1m-regular.ttf');
}
@font-face {
    font-family: 'MIGUM1B';
    src: url('./assets/fonts/migu-1m-bold.ttf');
}
@font-face {
    font-family: 'BATMANTHICC';
    src: url('./assets/fonts/Gotham-Bold.otf');
}

#titlebar {
	top: 0;
	display: block;
	position: fixed;
	height: 32px;
	width: 100%;
	background: #254053;
	z-index: 6;
}

#app {
	height: calc(100% - 64px);
	margin-top: 32px;
	margin-bottom: 32px;
	padding: 8px;
	overflow-y: auto;
}

#app.notitle {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

#titlebar #drag-region {
	height: 100%;
	width: 100%;
	-webkit-app-region: drag;
}

#window-controls {
	display: grid;
	grid-template-columns: repeat(4, 46px);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	-webkit-app-region: no-drag;
}

#window-controls .button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	user-select: none;
}

#window-controls .button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
	background-color: rgba(255, 255, 255, 0.2);
}

#window-controls .button img {
	width: 24px;
	filter: invert(1);
}

#setf-button {
	grid-column: 1;
}

#min-button {
	grid-column: 2;
}

#min-button:hover {
	background: #e89211 !important;
}

#min-button:active {
	background: #f1c470 !important;
}
#min-button:active img {
	filter: invert(1);
}

#refresh-button {
	grid-column: 3;
}

#close-button {
	grid-column: 4;
}

#close-button:hover {
	background: #E81123 !important;
}

#close-button:active {
	background: #F1707A !important;
}

#close-button:active img {
	filter: invert(1);
}

#window-controls .icon {
	width: 16px;
	height: 16px;
}

.mPlace {
	transform: rotateY(55deg) rotateX(15deg) translateX(-30vw);
    box-shadow: -10px 5px 2px #253c91;
}

#title__container {
	inline-size: 40vw;
}

#volume-toast {
	position: absolute;
	border-radius: 2rem;
	padding: 1rem;
	bottom: 15vh;
	left: 50%;
	transform: translateX(-50%);
	background:rgba(0, 0, 0, 0.80);
	z-index: 2;
	user-select: none;
	pointer-events: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	width: 15vw;
	transition: opacity 2s;
}

#volume-toast.hide {
	opacity: 0;
}

#volume-toast img {
	height: 2rem;
	filter: invert(1);
}

#lprog__bar {
	position: absolute;
	height: 4px;
	top: 32px;
	left: 0;
	background-color: rgb(255, 162, 55);
}

#playing__playlist {
	width: 100%;
	height: 25vh;
	border: 0.1rem rgba(0, 0, 0, 0.2) solid;
	background-color: rgba(0, 0, 0, 0.3);
	margin-top: 1rem;
}

#settings__body {
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100vh - 32px);
	width: 100vw;
	/* z-index: 2; */
}

#settings__wrapper {
	height: 90vh;
	width: 50vw;
	border-radius: .5rem;
	background-color: #254053;
	padding: 5vw;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	flex-direction: column;
	border: #1A2933 solid 2px;
	border-radius: .5rem;
	overflow-y: auto;
}

#settings__nav {
	width: 10vw;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	flex-wrap: nowrap;
}

#settings__content {
	display: flex;
	height: 100%;
	width: 100%;
	
	
	overflow: scroll;
}

.setting__block {
	display: flex;
	background-color: rgba(0, 0, 0, 0.3);
	flex-direction: column;
	flex-wrap: nowrap;
	padding: 1rem;
}

.setting__block select {
	appearance: none;
	border: 0;
	outline: 0;
	font-size: large;
	font-family: "MPLUS1Code";
	width: 100%;
	padding: 1rem 4rem 1rem 1rem;
	background-color: #182e41;
	border: rgba(0, 0, 0, 0.2) solid 2px;
	color: white;
	border-radius: 0.25em;
	cursor: pointer;
}

.tab__content {
	margin-bottom: 2rem;
	width: 100%;
}

.tab__content h1 {
	justify-self: center;
	text-align: center;
}

#visualiser__modeSelector {
	background-color: rgba(0, 0, 0, 0.3);
	border: rgba(0, 0, 0, 0.2) solid 2px;
	border-radius: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1rem;
	justify-content: space-evenly;
	align-items: center;
	padding: .5rem;
}

#visualiser__modeSelector .mode__option {
	border-radius: .5rem;
	width: 10vw;
	height: 10vh;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border: rgb(107, 107, 107) solid 2px;
	margin: .5rem;
	cursor: pointer;
}

#visualiser__modeSelector .mode__option:hover {
	border: rgb(179, 179, 179) solid 2px;
}

.settings__tab {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: #ffffff6b solid 2px;
	border-radius: .5rem;
	padding: .5rem;
	font-size: 1.5vw;
	font-family: "MPLUS1Code";
	margin-bottom: 1rem;
	cursor: pointer;
}

.settings__tab:hover {
	border: #ffffffbe solid 2px;
}


#history__input {
	height: 2.5rem;
	width: 40vw;
	margin-top: 1vh;
	margin-bottom: 1vh;
	background-color: #1c3047;
	border: #1A2933 2px solid;
	border-radius: 2rem;
	color: #ffffff;
	font-family: "MPLUS1Code";
	padding: 1rem;
	font-size: large;
	transition: width .3s;
}
#history__input:focus {
	outline: none;
	border: #3f5cec 2px solid;
}

.superscript { position: relative; top: -0.5em; font-size: 80%; }

.under__thumb {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
	flex-direction: column; 
	width: 100%;
	background: #081033;
	padding: 1vh;
	max-height: 16vh;
	z-index: 2;
}

.control__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.control__button {
	user-select: none;
	/* padding: 1rem;
	border: 2px solid white;
	border-radius: 100%;
	transition: background-color .2s */
	cursor: pointer;
	padding-left: .2rem;
	
}

.control__button:active img {
	transform: scale(.9) translateY(2px);
}

.control__button img {
	width: 1.5rem;
	height: 1.5rem;
	transform: translateY(2px);
	transition: transform .1s, filter .1s;
	filter: invert(1) sepia(79%) saturate(0) hue-rotate(250deg) brightness(118%) contrast(119%);
	cursor: pointer;
}

.control__button img.on {
	filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(250deg) brightness(118%) contrast(119%);
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch .inputs {
	opacity: 0;
	width: 0;
	height: 0;
}
  
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}
  
.inputs:checked + .slider {
	background-color: #2196F3;
}
  
.inputs:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
}

.inputs:checked + .slider:before {
	-webkit-transform: translateX(18px);
	-ms-transform: translateX(18px);
	transform: translateX(26px);
}


.pBody__timeinfo {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	margin-top: 4px;
}

#pBody__time {
	margin-left: .75rem;
}

#pBody__length {
	cursor: pointer;
	margin-right: .75rem;
}

.playback__button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	margin-left: 4px;
	cursor: pointer;
}

.playback__button:hover {
	background: rgba(255, 255, 255, 0.15);
	color: #000;
}

.hidden {
	visibility: collapse !important;
	display: none !important;
}

.wrapper {
	min-height: 7rem;
	display: flex;
	overflow: hidden;
	white-space: nowrap;
}

.playback__progressWrapper {
	/*justify-content: center;*/
	align-items: center;
	width: 40vw;
	height: 8px;
	background: #2c2c2c;
	border-radius: 0.25rem;
	margin-left: .75rem;
	margin-right: .75rem;
	overflow: hidden;
	cursor: pointer;
}

.playback__progressBar {
	height: 100%;
	background-image: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#465298 10px,
		#465298 20px
	  );
	background-color: #3596e5;
	width: 0%;
	background-attachment: fixed;
	/*transition: width 100ms ease;*/
}

.playback__progressHandle {
	position: absolute;
	height: 16px;
	width: 6px;
	/* left: -3px; */
	top: 8px;
	background: white;
	/*cursor: pointer;*/
	border-radius: .25rem;
	/* visibility: hidden; */
}

.volume__sliderWrapper {
	/*justify-content: center;*/
	align-items: center;
	width: 100%;
	height: 8px;
	background: #3f3f3f;
	border-radius: 0.25rem;
	margin-left: 1.25rem;
	margin-right: 0.5rem;
	overflow: hidden;
	cursor: pointer;
}

#volumeSlider {
	height: 100%;
	background-color: blueviolet;
	width: 0%;
}

#volume__text {
	font-size: .75rem;
}

/* .scrollbar-app::-webkit-scrollbar-track {
	background-color: #1A2933;
} */
	
.scrollbar-app::-webkit-scrollbar {
	width: 8px;
	/* background-color: #1A2933; */
}

.scrollbar-app::-webkit-scrollbar-thumb{
	/*border-radius: 10px;*/
	background-color: rgba(255, 255, 255, 0.5); 
}

.scrollbar-app::-webkit-scrollbar-thumb:hover {
	/*border-radius: 10px;*/
	background-color: #ffffff; 
}

.hideAnim {
	animation: h 2.5s normal;
}

@keyframes h {
	100% { opacity: 0%; }
	50% { opacity: 100%; }
	0% { opacity: 100%; }
}