* {
	margin: 0; 
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	/*margin: 0;*/
	font-family: 'Fira Code';
	background: #1A2933;
	color: #FFF;
	overflow: hidden;
	user-select: none;
}

#titlebar {
	top: 0;
	display: block;
	position: fixed;
	height: 32px;
	width: calc(100%);
	background: #254053;
}

#app {
	height: calc(100% - 32px);
	margin-top: 32px;
	padding: 20px;
	overflow-y: auto;
}

#home-page {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

#titlebar #drag-region {
	height: 100%;
	width: 100%;
	-webkit-app-region: drag;
}

#window-controls {
	display: grid;
	grid-template-columns: repeat(4, 46px);
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	-webkit-app-region: no-drag;
}

#window-controls .button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	user-select: none;
}

#window-controls .button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
	background-color: rgba(255, 255, 255, 0.2);
}

#setf-button {
	grid-column: 1;
}

#min-button {
	grid-column: 2;
}

#refresh-button {
	grid-column: 3;
}

#close-button {
	grid-column: 4;
}


#close-button:hover {
	background: #E81123 !important;
}

#close-button:active {
	background: #F1707A !important;
}

#close-button:active .icon {
	filter: invert(1);
}

#window-controls .icon {
	width: 16px;
	height: 16px;
}

#app-iframe {
	width: 100%;
	height: calc(100% - 5px);
}

#page-controls {
	display: grid;
	grid-template-columns: repeat(3, 64px);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	-webkit-app-region: no-drag;
}

#page-controls .button {
	grid-row: 1 / span 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	user-select: none;
}

#page-controls .button:hover {
	background-color: rgba(255, 255, 255, 0.1);
}

#page-controls .button:active {
	background-color: rgba(255, 255, 255, 0.2);
}

#home-fetch-button {
	width: fit-content;
	padding: 4px;
	margin: 4px;
	border:rgba(255, 255, 255, 0.5) solid 2px;
	cursor: pointer;
	transition: 100ms all;
	font-weight: 600;
}

#home-fetch-button:active {
	background-color: #FFF;
	color: #000;
}

.page-title {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.dummy {
	height: 6rem;
	/*animation: 1s ease loading alternate infinite;*/
	min-width: 10rem;
	border-radius: 0.35rem;
	margin-right: 0.5rem;
	content-visibility: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border: transparent 2px solid;
	transition: border-color 500ms;
	background: rgba(255, 255, 255, 0.05);
}

.dummy:hover {
	border-color: violet;
}

.hidden {
	visibility: collapse !important;
	display: none !important;
}

.hide-context {
	opacity: 0%;
}

.separator {
	height: 3px;
	background: #FFF;
	width: 100%;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

.separator-title {
	display: flex;
	flex-direction: row;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	user-select: none;
}

.separator-text {
	margin-right: 1rem;
}

.wrapper {
	background:rgba(255, 255, 255, 0.05);
	min-height: 7rem;
	padding: 0.75rem;
	display: flex;
	flex-direction: row;
	overflow: hidden;
	transition: 500ms all;
	border: transparent solid 2px;
}

.wrapper:hover {
	border:rgba(255, 255, 255, 0.2) solid 2px;
}

.smoll-text {
	font-size: 0.75rem;
	font-weight: 600;
	margin: 0.25rem;
}

.striped {
	background: repeating-linear-gradient(
		45deg, rgba(255, 208, 0, 0.5), rgba(255, 208, 0, 0.5) 0.50rem, transparent 0px, transparent 1rem
	);
}

.rounded {
	border-radius: 0.5rem;
}

#opt-container {
	display: flex;
	flex-direction: column;
}

.setting-title {
	margin-right: 1rem;
}


@keyframes loading {
	0% { background: rgba(255, 255, 255, 0.05); }
	100% { background: rgba(255, 255, 255, 0.15); }
}