#footer {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	width: 100vw;
	height: 32px;
	/* font-size: 14px; */
	font-size: .6vw;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	font-family: "Consolas";
}

#footer * {
	height: 100%;
	cursor: pointer;
	text-align: center;
}

#footer p {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.fIcon {
	padding: 0 .5rem;
	
}

.fIcon img{
	width: 1rem;
	height: 1rem;
	filter: invert(1);
}

.fIcon:hover {
	background-color: rgba(255, 255, 255, 0.5);
}