.menu__body {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(4px);
	width: 100vw;
	height: calc(100vh - 32px);
	transition: all 250ms ease-out;
	z-index: 2;
}

.menu__body.notitle {
	height: 100vh;
	top:-32px;
}

.menu__body.hide {
	transform: translateY(-100%);
	pointer-events: none;
	z-index: 0;
	opacity: 0;
}

.menu__header {
	position: absolute;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	top: 2.5rem;
	height: 1.75rem;
	padding: .55rem;
	transition: all 100ms ease;
	/* border-radius: .5rem 0 0 .5rem; */
	transform: translateX(0);
	cursor: pointer;
	background-color: #253c91;
	border-radius: .5rem;
	font-size: 1.25rem;
}

.menu__header:active {
	transform: scale(0.95);
}

.menu__header.hide {
	opacity: 25%;
}

.menu__toolbar {
	position: fixed;
	margin-top: 2vh;
	height: 3.5rem;
	width: 50vw;
	margin-left: 25vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	background-color: #254053;
	z-index: 2;
	border-radius: 1rem;
}

.menu__btn {
	background-color: #1c3047;
	border: #1A2933 2px solid;
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 100%;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	display: flex;
}

.menu__btn img {
	filter: invert(1);
}

.menu__exit:hover {
	background-color: #2e4e74;
}

.menu__exit:active {
	background-color: rgb(63, 98, 138);
}
.menu__top {
	transition: all .2s;
}
.menu__top:hover {
	background-color: #2e81df;
}
.menu__top:active {
	background-color: #4d90dd;
}
.menu__top.hide {
	cursor: not-allowed;
	filter: grayscale(.8);
}
.menu__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1.5rem;
	padding-top: 8vh;
	overflow-y: scroll;
	justify-content: space-evenly;
	align-items: center;
}