.menu__body {
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(4px);
	width: 100vw;
	height: calc(100vh - 32px);
	transition: translate 500ms, height 750ms, opacity 500ms;
	z-index: 2;
	height: 100vh;
}

.menu__body.notitle {
	height: 100vh;
	top: -32px;
}

.menu__body.hide {
	pointer-events: none;
	z-index: 0;
	translate: 0px -200vh;
	height: 200vh;
	opacity: 0;
}

.menu__header {
	position: absolute;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	top: 2.5rem;
	height: 1.75rem;
	padding: .55rem;
	transform: translateX(0);
	cursor: pointer;
	background-color: #253c91;
	border-radius: .5rem;
	font-size: 1.25rem;
}

.menu__header:active {
	transform: scale(0.95);
}

.menu__header.hide {
	opacity: 25%;
}

.menu__toolbar {
	position: fixed;
	height: 7.5rem;
	width: 35vw;
	margin-top: .25rem;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: end;
	right: -5vw;
	
	z-index: 2;
}

.menu__toolbar-bg {
	background-color: rgba(80, 48, 105, 0.8);
	position: absolute;
	width: 35vw;
	height: 7.5rem;
	transform: skew(40deg);
	z-index: -1;
	border-radius: .5rem 0 0 .25rem;
}

.menu__searcher {
	display: flex;
	flex-direction: row;
	height: 3.5rem;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
}

#menus__selected {
	position: absolute;
	height: 1.5rem;
	width: 0; /* default value, changed during js exec */
	background-color: #4d90dd;
	pointer-events: none;
	top: calc(2vh + 2rem);
	transition: left .5s ease-out, width .5s ease-out;

}

.menus__chooser {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 1rem;
}

.menus__chooser .btn {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	border-radius: .5rem;
	/* width: 1.5rem; */
	height: 1.5rem;
	border: #ffffff86 solid 2px;
}

.menus__chooser .btn img {
	height: 1rem;
	width: 1rem;
	filter: invert(1);
}

.menus__chooser .btn:active {
	color: black;
}
.menus__chooser .btn:active img {
	filter: invert(0);
}

.menus__chooser .btn:hover {
	background-color: #dfdfdf;
}
.menus__chooser .btn:active {
	background-color: #ffffff;
}
.menus__chooser .btn.selected:hover {
	background-color: #ffffff28;
}
.menus__chooser .btn.selected:active {
	background-color: #ffffff28;
}

.menu__btn {
	/* background-color: #1c3047; */
	/* border: #1A2933 2px solid; */
	border: #c6d5df 2px solid;
	height: 1.75rem;
	width: 1.75rem;
	border-radius: 100%;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	display: flex;
	margin-top: 1vh;
	margin-bottom: 1vh;
}

.menu__btn img {
	filter: invert(1);
}

.menu__exit:hover {
	/* background-color: #2e4e74; */
	background-color: #ffffffab;
} 

.menu__exit:hover img {
	filter: invert(0);
}

.menu__exit:active {
	background-color: rgb(255, 255, 255);
}
.menu__top {
	transition: all .2s;
}
.menu__top:hover {
	background-color: #2e81df;
}
.menu__top:active {
	background-color: #4d90dd;
}
.menu__top.hide {
	cursor: not-allowed;
	filter: grayscale(.8);
}
.menu__wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 1.5rem;
	padding-top: 8vh;
	overflow-y: scroll;
	justify-content: space-evenly;
	align-items: center;
}

#menu-search__input {
	background-color: #0000005b;
	color: white;
	width: 20vw;
	height: 2.5rem;
	margin-left: 3rem;
	margin-right: 3rem;
}

#menu-search__input:focus {
	background-color: #0000005b;
	border: 0;
	outline: 0;
	caret-color: transparent;
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}