.smenu__body {
	display: flex;
	position: absolute;
	bottom: 0;
	align-self: center;
	width:50vw;
	max-height: 50vh;
	flex-direction:  column;
	/* background: linear-gradient(rgb(30, 135, 196) 32px, rgb(28, 26, 95)); */
	transition: transform .3s;
	border-radius: 1rem 1rem 0 0;
} 

.smenu__body.hide {
	transform: translateY(calc(100% - 32px));
}

.smenu__header {
	padding: 4px;
	border-radius: .5rem .5rem 0 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	/* cursor: pointer; */
	max-height: 32px;
	z-index: 1;
	background-color: rgb(30, 135, 196);
	transition: background-color .25s;
}

.smenu__header.hide {
	background-color: rgba(0, 0, 0, 0);
}

.smenu__wrapper {
	padding: .5rem;
	padding-bottom: 24px;
	overflow: auto;
	background: linear-gradient(rgb(30, 135, 196) 32px, rgb(28, 26, 95));
}

.playlist__music-wrapper {
	/* width: 100%; */
	display: flex;
	flex-direction: column;
	margin: .25rem;
	border-radius: .5rem;
	transition: transform .1s;
	background-color: #1c2347;
	border: #1c2347 solid 4px;
}

.playlist__music {
	width: 100%;
	height: 2.75rem;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	border-radius: .5rem;
	background-color: rgb(0, 0, 0);
	padding: .5rem;
}

.playlist__music-wrapper:hover {
	transform: scale(101%);
	border: #ffffff09 solid 4px;
}

.playlist__music-wrapper:active {
	transform: scale(99%);
}

.playlist__music img {
	width: 2rem;
	border-radius: .45rem;
}

.playlist__music-info {
	width: 100%;
	
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	display: flex;
	word-break: keep-all;
	text-wrap: nowrap;
	border-radius: .375rem;
	margin-left: .75rem;
}

.playlist__music-info p {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 20rem;
	font-size: 1rem;
}