.playblock__music-wrapper {
	height: 22vw;
	width: 22vw;
	display: flex;
	flex-direction: column;
	margin: 1.25rem;
	border-radius: .5rem;
	transition: transform .1s;
	background-color: #1c2347;
	border: #1c2347 solid 4px;
}

.playblock__music {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	/* backdrop-filter: blur(16px) brightness(0.5); */
	border-radius: .5rem;
}

.playblock__music-wrapper:hover {
	transform: scale(1.025);
	border: #1b2555 solid 4px;
}

.playblock__music-wrapper:active {
	transform: scale(.975);
}

.playblock__music img {
	/* width: 6rem; */
	width: 100%;
	border-radius: .45rem;
}

.playblock__music-info {
	position: relative;
	bottom: 2vw;
	left: 0;
	height: 2vw;
	width: calc(22vw - 8px);
	background-color: rgba(0, 0, 0, 0.80);
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	display: flex;
	word-break: keep-all;
	text-wrap: nowrap;
	padding: .5rem;
	border-radius: 0 0 .375rem .375rem;
}

.playblock__music-info p {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 20rem;
	font-size: 1rem;
}

/* -------------------------------------------------------------------- */

/* .playlist__music-wrapper {
	height: 4rem;
	width: 22vw;
	display: flex;
	flex-direction: row;
 margin: 1.25rem;
	border-radius: .5rem;
	transition: transform .1s;
	background-color: #1c2347;
	border: #1c2347 solid 4px;
}

.playlist__music {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	backdrop-filter: blur(16px) brightness(0.5);
	border-radius: .5rem;
}

.playlist__music-wrapper:hover {
	transform: scale(1.025);
	border: #1b2555 solid 4px;
}

.playlist__music-wrapper:active {
	transform: scale(.975);
}

.playlist__music img {
	width: 3rem;
	border-radius: .45rem;
}

.playlist__music-info {
	position: relative;
	bottom: 2vw;
	left: 0;
	height: 2vw;
	width: calc(22vw - 8px);
	background-color: rgba(0, 0, 0, 0.80);
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	display: flex;
	word-break: keep-all;
	text-wrap: nowrap;
	padding: .5rem;
	border-radius: 0 0 .375rem .375rem;
}

.playlist__music-info p {
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 20rem;
	font-size: 1rem;
} */